body {
  font-family: fira-sans, sans-serif;
  font-size: 10pt;
  background-color: transparent;
}
div.notification {
  position: relative;
  float: right;
  width: 600px;
  border: 3px outset #6c5d53;
  /* border-radius: 5px; */
  padding: 10px;
  background-color: #e6e6e6;
}
div.content {
  padding-left: 60px;
}
img.logo {
  float: left;
  border-radius: 50%;
}
p.heading {
  margin: 0px;
  font-weight: bold;
  text-decoration: underline;
}
p.hint {
  display: none;
}
pre {
  font-family: fira-mono, monospace;
  white-space: pre-wrap;
}
span.link {
  color: #863600;
}
